.full-article
    - if (auth)
        div(data-post-edition="post", data-ng-keydown="keydown($event);")
            include _form
            include _show
    - else
        include _show

    .suggestions.readable-content(data-ng-if="relatedPosts.length > 0")
        span.title Sur le même sujet
        ul
            li(data-ng-repeat="post in relatedPosts")
                a(href="/posts/{{post.slug}}", data-ng-bind="post.title", data-event-tracker="{category: \'Suggestion\', action: \'followed\', label: \'{{post.slug}}\' }")

-if (prod)
    section.readable-content
        #disqus_thread(data-disqus="post")
