form
    fieldset
        div#comment-form-notice
        legend Laisser un commentaire
        label(for='name-field') Nom
        input#name-field(type='text')
        label(for='email-field') Email
        input#email-field(type='text')
        label(for='comment-field') Commentaire
        textarea#comment-field(cols='30', rows='10')
        input(type='submit')

