form(ng-submit='saveComment(comment)')
    fieldset
        div#comment-form-notice
        legend Laisser un commentaire

        label(for='name-field') Nom
        input#name-field(type='text', ng-model='comment.name')

        label(for='email-field') Email
        input#email-field(type='text', ng-model='comment.email')

        label(for='comment-field') Commentaire
        textarea#comment-field(cols='30', rows='10', ng-model='comment.comment')

        input(type='submit')

