- if (auth)
    include post
    form(ng-submit='save(post)')
        fieldset
            input(type='text', ng-model='post.title')
            textarea(ng-model='post.description')
            textarea(ng-model='post.body')
            input(type='submit')
