#posts-container.widget-container
    include posts/index

.section Mes Tweets
ul#tweets-list(data-ng-controller='tweetsController')
    li.tweet(data-ng-repeat="tweet in tweets")
        span(data-ng-bind-html='tweet.text | linky | twitterRefs')
