article.full-article
    - if (auth)
        .edition-panel
            a.delete.button(nb-click='deletePost(post)') Delete
            a.button.publish(ng-click='publishPost(post)', class='{{post.published}}') Publish
    header
        h1 {{ post.title }}
    span.pubdate {{ post.pubdate | date }}
    aside#tags-container
    div.body(ng-bind-html='post.body')

    h3 Commentaires
    ul#comments-list(ng-repeat='comment in post.comments')
        li.comment(id='{{ comment.id }}-comment-element')
            span.name {{ comment.name }} 
            span.pubdate {{ comment.pubdate | date }}
            p {{ comment.comment }}

            -if (auth)
                .edit-panel
                    a.delete(ng-click='deleteComment(comment)')
