.social
    a.google-plus(href='https://plus.google.com/118010420630912086698?rel=author', target='_blank', title="Mon profil Google+") g
    a.twitter(href='https://twitter.com/ThomasBelin4', target='_blank', title="Mon profil Twitter") l
    a.github(href='https://github.com/thomasbelin4', target='_blank', title="Mon repo Github") e
    a.doyoubuzz(href='https://thomas-belin.com', target='_blank', title="Mon CV DoYouBuzz") d
