doctype 5
html(lang="en", ng-app="blog")
    head
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")

        title= "Why So Curious ?"
        link(href="css/application.css", type="text/css", rel="stylesheet")
        - if (auth)
            link(href="css/admin.css", type="text/css", rel="stylesheet")
            script(src="/js/lib/require.min.js", data-main="/js/admin-main")
        - else
            script(src="/js/lib/require.min.js", data-main="/js/main")

    body()
        #header
            .container
                .title { Thomas BELIN }
                .menu
                    ul
                        li
                            a(href="/#/")#home.state
                                p Home
                        li
                            a(href="/#/posts")#posts.state
                                p Articles
        #main
            .container
                #main-content(ng-view)
        #footer
            p Thomas Belin
            p ThomasBelin4@gmail.com
            - if (auth)
                admin
                    a.button(ng-controller='$rootScope.snapshots', ng-click='snapshot()') Snapshot
