.edit-panel a.publish:before { content:"✓"; }
.edit-panel a.delete:before { content:"×"; }
.edit-panel a.edit:before { content:"✍"; }
.edit-panel {display:none; position:absolute; top:5px; right:5px; font-size:14pt; font-weight:bold; }
.edit-panel a{ display:block; float:left; height:1em; width:1em;}

.published.false { opacity:0.5; }

article .edition-panel { position:absolute; left:100%; padding:10px; border:solid #ccc 1px; border-left:0; border-radius:3px; }
.publish.true { background-color: #7A0026; border-color:grey; }
.comment:hover .edit-panel {display:block; }
#posts-list li:hover .edit-panel { display:block; }
#tags-list li:hover .edit-panel { display:block; }
