.edit-panel a.publish:before { content:"✓"; }
.edit-panel a.delete:before { content:"×"; }
.edit-panel a.edit:before { content:"✍"; }
.edit-panel {display:none; position:absolute; top:5px; right:5px; font-size:14pt; font-weight:bold; }
.edit-panel a{ display:block; float:left; height:1em; width:1em;}

.published.false { opacity:0.5; }

button.published.true { background-color: #7A0026; border: solid 1px #7A0026; }

article .edition-panel { position:absolute; left:100%; padding:10px; border:solid #ccc 1px; border-left:0; border-radius:3px; }
.comment:hover .edit-panel {display:block; }
#posts-list li:hover .edit-panel { display:block; }
#tags-list .tag:hover .edit-panel { display:block; }

.edit-form { position: fixed; height: 100%; width: 20%; left: 0; top: 0; background-color: white; padding: 10px; }
.edit-form input,
.edit-form textarea
{ width: 90%; }
.edit-form textarea.article-body { height: 400px; }
