ng-switch(on='commentAdded')
    div(ng-switch-when='true')
        div#comment-form-notice
            p Merci, je prendrais bonne note de votre commentaire ;)
    div(ng-switch-when='false')
        form(ng-submit='saveComment(comment)')
            fieldset
                legend Laisser un commentaire

                label(for='name-field') Nom
                input#name-field(type='text', ng-model='comment.name')
                br

                label(for='email-field') Email
                input#email-field(type='text', ng-model='comment.email')
                br

                label(for='comment-field') Commentaire
                textarea#comment-field(cols='30', rows='10', ng-model='comment.comment')
                br

                input(type='submit', value='Envoyer')
