.share-panel
    .share-container
        a(href="https://twitter.com/share", class="twitter-share-button", data-via="ThomasBelin4", data-twitter) Tweeter
article.full-article
    header
        h1 {{ post.title }}
    include ../tags/index
    span.pubdate {{ post.pubdate | date }}
    div.body(data-ng-bind-html='post.body')
