.share-panel
    .share-container
        a(href="https://twitter.com/share", class="twitter-share-button", data-via="ThomasBelin4", data-text="{{ post.title }}", data-url="{{ location }}", data-twitter) Tweeter
        br
        .g-plusone(data-googleplus)
article.full-article
    header
        h1 {{ post.title }}
    include ../tags/index
    span.pubdate {{ post.pubdate | date }}
    div.body(data-ng-bind-html-unsafe='post.body', data-codecontainer)
