.edit-form(data-post-edition="post")
    .icon.save(data-ng-show="post.$unsaved")
    form(data-ng-submit='save(post)')
        input(type='text', data-ng-model='post.title')
        br
        textarea(data-ng-model='post.description')
        br
        textarea(class='article-body', data-ng-model='post.body')
        br
        input(type='submit') Save
        button(data-ng-click='reset(post)') Reset

