.edit-form
    button(data-ng-click='publishPost(post)', class='published {{ post.published }}') Publish
    form(data-ng-submit='save(post)', draggable)
        input(type='text', data-ng-model='post.title')
        br
        textarea(data-ng-model='post.description')
        br
        textarea(class='article-body', data-ng-model='post.body')
        br
        input(type='submit')

