article
    time.pubdate(datetime="{{post.pubdate}}", pudate) 
        div.day {{ post.pubdate | date:'d' }}
        div.month {{ post.pubdate | date:'MMM' }}
        div.year {{ post.pubdate | date:'yyyy' }}
    block title
        h1 {{post.title}}
    aside
        span.tags-list
            span(data-ng-repeat='tag in post.tags')
                span.tag
                    {{ tag.name }}
                &nbsp;
    block content
        p.description{{ post.description }}
