article
    time.pubdate(datetime="{{post.pubdate}}")
        span.day {{ post.pubdate | date:'d' }}
        br
        span.month {{ post.pubdate | date:'MMM' }}
        br
        span.year {{ post.pubdate | date:'yyyy' }}
    block title
        h1 {{post.title}}
    aside
        span.tags-list
            span(data-ng-repeat='tag in post.tags')
                span.tag
                    {{ tag.name }}
                &nbsp;
    block content
        p.description{{ post.description }}
