article(itemscope="", itemtype="http://schema.org/Article", itemref="_image4 _desc")
    .header
        block title
            h2
                a(href="/posts/{{ post.slug }}") {{post.title}}

        time.pubdate(datetime="{{post.pubdate}}", itemprop="datePublished", content="{{post.pubdate}}")
            span.day {{ post.pubdate | date:'d' }} 
            span.month {{ post.pubdate | date:'MMM' }} 
            span.year {{ post.pubdate | date:'yyyy' }}

        aside(data-ng-controller="tagsController")
            span.tags-list
                div.tag-container(data-ng-repeat='tag in post.tags')
                    span.tag(data-ng-mouseover="setHoveredTag(tag);", data-ng-mouseout="setHoveredTag(null);")
                        {{ tag.name }}
                        block tag_edit
                    &nbsp;
            - if (auth)
                span.add(data-ng-click="create()")+
            block tag_form
        div(style='clear:both')
    block body
        p.description{{ post.description }}

    block author
        .author par
            span(itemprop="author")  Thomas Belin
        div(style="clear:both;")
