extends _post

block title
    - if(auth)
        h1(contenteditable="true", data-ng-model="post.title")
    - else
        h1 {{post.title}}

block body
    - if(auth)
        .body(contenteditable="true", data-ng-model="post.body")
    - else
        .body(data-ng-bind-html='post.$body', data-codecontainer)

block tag_edit
    - if (auth)
        .edit-panel
            button.delete(data-ng-click='remove(post, tag)')

block tag_form
    - if (auth)
        form(data-ng-submit='tag(post, newTag)', data-ng-show="newTag")
            div(data-autocomplete="newTag.name", data-autocomplete-url="/api/tags/find", data-autocomplete-select="tag(post, data);")
