extends _post

block content
    .body(data-ng-bind-html-unsafe='post.body', data-codecontainer)
    .author par
        span(itemprop="author")  Thomas Belin
    div(style="clear:both;")

block tag_edit
    - if (auth)
        .edit-panel
            button.delete(data-ng-click='remove(post, tag)')
block tag_form
    - if (auth)
        form(data-ng-submit='create(post, newTag)')
            div(data-autocomplete="newTag.name", data-autocomplete-url="/api/tags/find", data-autocomplete-select="affectTag(post, data);")
