extends _post

block title
    div(data-sticky-container="")
        div.sticky-bar(data-sticky, data-scroll-animated="{ property: 'opacity', before: 1, from: 0.15, to: 1, start: 160, duration: 200}")
            h1 {{post.title}}
            .share(data-share="post", data-scroll-animated="{ property: 'right', from: 0, to: 100, start: 160, duration: 200, unit: 'px' }")

block header_additions
    .share(data-share="post")

block body
    - if(auth)
        .body(contenteditable="true", data-ng-model="post.body")
    - else
        .body(data-ng-bind-html='post.$body', data-codecontainer)

block tag_edit
    - if (auth)
        .edit-panel
            button.delete(data-ng-click='remove(post, tag)')

block tag_form
    - if (auth)
        form(data-ng-submit='tag(post, newTag)', data-ng-show="newTag")
            div(data-autocomplete="newTag.name", data-autocomplete-url="/api/tags/find", data-autocomplete-select="tag(post, data);")
