-if (auth)
    a.button(href="/post/create") Create
    br
.card(data-ng-repeat="post in posts", data-ng-animate="{enter: 'example-repeat-enter', leave: 'example-repeat-leave', move: 'example-repeat-move'}", data-ng-click="show(post);")
    include _list
    -if (auth)
        span.edit-panel
            button.publish(data-ng-click='publish(post)', class='publish {{ post.published }}') publish
            button.delete(data-ng-click='remove(post)') delete
div(style="clear:both;")
