-if (auth)
    div(data-post-edition="newPost")
        button(data-ng-click="add();") Add
        form(data-ng-show="newPost", data-ng-submit="create(newPost);")
            input(data-ng-model="newPost.title")
    br
.card(data-ng-repeat="post in posts", data-ng-click="show(post);")
    .highlighter(data-ng-class="{ active: post.hasTag(hoveredTag) }")
    - if (auth)
        .status(data-ng-class='{unpublished: post.status === 0, draft: post.status === 1, published: post.status === 2}')
    include _list
    .social-details.animated(data-ng-show="metadatas[post.slug].commentCount")
        div.comment-count(data-ng-bind="metadatas[post.slug].commentCount")
    -if (auth)
        span.edit-panel(data-post-edition="post")
            button.publish(data-ng-click='toggleState(post); $event.stopPropagation();') publish
            button.delete(data-ng-click='remove(post); $event.stopPropagation();') delete
