-if (auth)
    a.button(href="/post/create") Create
    br
.card(data-ng-repeat="post in posts")
    a(href="/posts/{{ post.slug }}", class="published {{ post.published }}")
        include _list
    -if (auth)
        span.edit-panel
            button.publish(data-ng-click='publishPost(post)', class='publish {{ post.published }}') publish
            button.delete(data-ng-click='deletePost(post)') delete
div(style="clear:both;")
