-if (auth)
    div(data-post-edition="newPost")
        button(data-ng-click="add();") Add
        form(data-ng-show="newPost", data-ng-submit="create(newPost);")
            input(data-ng-model="newPost.title")
    br
//.filter-zone(data-ng-show="filteringTags.length > 0")
    | filtres :
    .filter(data-ng-repeat="tag in filteringTags", data-ng-bind="tag.name", data-ng-click="filteringTags.removeElement(tag);")
.card(data-ng-repeat="post in posts", data-ng-click="show(post);")
    .highlighter(data-ng-class="{ active: post.$highlighted }")
    include _list
    //.social-details.animated(data-post-social-details="post")
    -if (auth)
        span.edit-panel(data-post-edition="post")
            button.publish(data-ng-click='publish(post); $event.stopPropagation();', class='publish {{ post.published }}') publish
            button.delete(data-ng-click='remove(post); $event.stopPropagation();') delete
