-if (auth)
    include _form

.full-article
    .share-panel(data-sticky='{ start: 200 }')
        .share-container
            a(href='/', class='button') back
            .share
                button share
                .buttons-container
                    span.twitter(data-social-button="{ provider: 'twitter', resource: post }") Twitter
                    br
                    span.fb(data-social-button="{ provider: 'facebook', resource: post }") Facebook
                    br
                    span.gplus(data-social-button="{ provider: 'googleplus', resource: post }") Google+
    include _show

section
    #disqus_thread
