-if (auth)
    include _form

.full-article
    .actions-panel(data-sticky='{ start: 200 }')
        .actions-container
            a(href='/', class='button') back
            .share
                div.button.share-opener
                    i.icon-share Partager
                .buttons-container
                    a.twitter-button(data-social-button="{ provider: 'twitter', resource: post }")
                        i.icon-twitter
                        span Twitter
                        span.count(data-ng-bind='shareCount.count')
                    br
                    a.fb-button(data-social-button="{ provider: 'facebook', resource: post }")
                        i.icon-facebook
                        span Facebook
                        span.count 0
                    br
                    a.gplus-button(data-social-button="{ provider: 'googleplus', resource: post }")
                        i.icon-google-plus
                        span Google+
                        span.count 0
    include _show

section
    #disqus_thread
