-if (auth)
    include _form

.full-article
    a(href="/") Tous les articles
    .share-panel
        .share-container
            a(href="https://twitter.com/share", class="twitter-share-button", data-via="ThomasBelin4", data-text="{{ post.title }}", data-url="{{ location }}", data-twitter) Tweeter
            br
            .g-plusone(data-googleplus)
    include _show

section
    #disqus_thread
