-if (auth)
    include _form

.full-article
    .actions-panel(data-sticky='{ start: 10 }')
        table.actions-container
            tr
                td
                    a(href='/', class='button')
                        i.icon-chevron-left
                        |  Tous les articles
                td.share
                    div(data-ng-controller="shareController", data-ng-init="setResource(post)")
                        a.share-button(data-ng-repeat="provider in providers",
                            class="{{provider.name}}",
                            href="javascript:void(0);",
                            data-ng-click="share(provider)"
                        )
                            i(class="icon-{{provider.name}}")
                            span.count(data-ng-show="provider.count > 0")
                                | &nbsp;
                                span(data-ng-bind="provider.count")
    include _show

section
    #disqus_thread(data-disqus="post")
