article(itemscope="", itemtype="http://schema.org/Article")
    meta(itemprop="description", content="{{post.description}}")
    .header
        h1(itemprop="name")
            a(href="/posts/{{ post.slug }}", itemprop="url") {{post.title}}
            .progress.small(data-ng-if="post.$loading")

        time.pubdate(datetime="{{post.pubdate}}", itemprop="datePublished", content="{{post.pubdate}}")
            span.day {{ post.pubdate | date:'d' }} 
            span.month {{ post.pubdate | date:'MMM' }} 
            span.year {{ post.pubdate | date:'yyyy' }}

        aside
            span.tags-list(itemprop="keywords")
                span(data-ng-repeat='tag in post.tags')
                    span.tag
                        {{ tag.name }}
                    &nbsp;
    .readable-content
        p.description(data-ng-if="!full"){{ post.description }}
        .body(data-ng-if="full", data-ng-bind-html='post.body | trustAsHtml', data-codecontainer, itemprop="articleBody")
        .author(data-ng-if="full") par 
            span(itemprop="author") Thomas Belin
    #aside-post-container(data-ng-if="full")
        #aside-post.soft-box(data-sticky)
            .header partager
            .content.icon
                -for (var provider in {'twitter':'', 'google-plus':'', 'facebook':''})
                    a.provider(href="#", class=provider)

