.card(data-ng-repeat="post in posts")
    div(data-post-container="false")
    - if (auth)
        form.manage-section(data-ng-submit="tag(post, newTag); newTag = null;")
            input(data-ng-model="newTag.name")
        //button(data-ng-click="remove(post);") remove
