article(itemscope="", itemtype="http://schema.org/Article", data-wsc-observe="post")
    meta(itemprop="description", content="{{post.description}}")
    .header
        h1(itemprop="name")
            a(href="/posts/{{ post.slug }}", itemprop="url") {{post.title}}
            .progress.small(data-ng-if="post.$loading")

        time.pubdate(datetime="{{post.pubdate}}", itemprop="datePublished", content="{{post.pubdate}}")
            span.day {{ post.pubdate | date:'d' }} 
            span.month {{ post.pubdate | date:'MMM' }} 
            span.year {{ post.pubdate | date:'yyyy' }}

        aside
            span.tags-list(itemprop="keywords")
                span(data-ng-repeat='tag in post.tags')
                    - if (auth)
                        span.tag(data-ng-click="untag(post, tag)")
                            {{ tag.name }}
                    - else
                        span.tag
                            {{ tag.name }}
                    &nbsp;
    .readable-content
        -if (auth)
            .description.inplace-edit(data-wsc-inplace-edit, data-ng-model="post.description", data-ng-if="!full")
            .body(data-ng-if="full", data-wsc-body-compiler='post.bodySrc', data-ng-model="post.body")
        -else
            p.description(data-ng-if="!full"){{ post.description }}
            .body(data-ng-if="full", data-ng-bind-html='post.body | trustAsHtml', itemprop="articleBody")
        .author(data-ng-if="full") par 
            span(itemprop="author") Thomas Belin
    #aside-post-container(data-ng-if="full")
        #aside-post.soft-box(data-sticky)
            .header partager
            .content.icon
                -for (var provider in {'twitter':'', 'google-plus':'', 'facebook':''})
                    a.provider(class=provider, href="#", target='_blank', data-ga-tracker="{type: \'social\', category: provider, action: 'share', label: post.slug }")

