aside
    div#tags-list
        span.tag(data-ng-repeat='tag in post.tags')
            {{ tag.name }}
            - if (auth)
                .edit-panel
                    a.delete(data-ng-click='deleteTag(tag)')
    -if (auth)
        include form
