aside
    div.tags-list
        span(data-ng-repeat='tag in post.tags')
            span.tag
                {{ tag.name }}
                - if (auth)
                    .edit-panel
                        a.delete(data-ng-click='deleteTag(tag)')
            &nbsp;
    -if (auth)
        include form
